/*
Theme Name: woodstock

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/


body {
	direction: rtl;
	unicode-bidi: embed;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	direction: rtl;
}

// HEADER

.topbar-menu {
	float: right !important;
}

.topbar-right {
	float: left !important;
}

.header-main-section .l-logo {
    float: right !important;
}

.header-main-section .header-tools {
    float: left;
}